<div class="agileinfo-ads-display col-lg-12">
  <div class="wrapper">
    <app-ProductMobiles></app-ProductMobiles>
    <app-ProductListLiveNew></app-ProductListLiveNew>
    <div class="product-sec1 product-sec2 px-sm-5 px-3">
      <div class="row">
        <h1 class="col-md-6 effect-bg">Summer Carnival</h1>
        <p class="w3l-nut-middle">Get Extra 30% Off</p>
        <div class="col-md-4 bg-right-nut">
          <img src="assets/images/image2.png"  alt="">
        </div>
      </div>
    </div>
    <app-ProductTv></app-ProductTv>
  </div>
</div>
