<div class="agileinfo-ads-display col-lg-12">
  <div class="wrapper">
    <app-ProductMobiles></app-ProductMobiles>
    <app-ProductTv></app-ProductTv>
    <div class="product-sec1 product-sec2 px-sm-5 px-3">
      <div class="row">
        <h3 class="col-md-4 effect-bg">Summer Carnival</h3>
        <p class="w3l-nut-middle">Get Extra 10% Off</p>
        <div class="col-md-8 bg-right-nut">
          <img src="assets/images/image1.png" alt="">
        </div>
      </div>
    </div>
    <app-ProductLargeAppliances></app-ProductLargeAppliances>
  </div>
</div>
