	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a routerLink="/index/home"><i class="fas fa-home">Home</i></a>
						<i class="fas fa-chevron-right"></i>
					</li>
					<li>Shop</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
<!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">

        <div class="container-12 pb-2 product-sec1 px-sm-4 px-3 py-3 mb-4 sticky-top"  style="border-radius: 18px;">
          <div class="card"  style="background: rgb(243, 230, 230);">
            <table class="table">

              <h1 class="pt-3 pl-2">
                 <input type="search"  class="form-control" placeholder="Search Name..."  [(ngModel)]="searchText"name="search" required="">
              </h1>

              <th class="pt-4" scope="col" >
                <h1 style="color: royalblue;">Most searched <i class="fas fa-chevron-right"></i>
                </h1>
              </th>
              <th class="pt-4" scope="col" >
                <h2  style="color: red;">New Mobile</h2>
              </th>
              <th class="pt-4" scope="col" >
                <h2  style="color: red;">Live New 99%</h2>
              </th>
              <th class="pt-4" scope="col" >
                <h2  style="color: red;">HOT NEW</h2></th>

            </table>
          </div>
        </div>
			<!-- //tittle heading -->
			<div class="row"  >
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-10" >
					<div class="wrapper">
            <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4"  style="border-radius: 18px;">
              <div class="row">
                <div class="col-md-3 product-men mt-5 ufo" *ngFor="let prod of product |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize |filter:searchText">
                  <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item text-center">
                      <img src="{{prod.img}}" width="200" height="200" style="border-radius:5% ;" alt="Ảnh">
                      <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                          <a routerLink="/index/detail/{{prod.id}}" class="link-product-add-cart">View Detail</a>
                        </div>
                      </div>
                    </div>
                    <div class="item-info-product text-center border-top mt-4">
                      <h4 class="pt-1">
                        <!-- <a href="single.html" maxlength="10"></a> -->
                        <input  style="text-transform:uppercase;" maxlength="15" disabled style="font-size: 16px;"  class="form-control-plaintext pl-4" value="{{prod.name}}">
                      </h4>
                      <div class="info-product-price my-2">
                        <span class="item_price">${{prod.discout}}</span>
                        <del>${{prod.price}}</del>
                      </div>

                        <div class="btn-group">
                          <a routerLink="/index/addtocart/{{prod.id}}">
                            <button class="btn btn-outline-danger"  data-toggle="modal"  data-target="#exampleModal">
                              Buy Now
                            </button>
                          </a>
                          <button class="btn btn-outline-info"  routerLink="/index/detail/{{prod.id}}" routerLinkActive="active">Detail</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="align-content-center pt-2">
              </div>
            </div>
          </div>
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="product.length"></ngb-pagination>

        </div>
				<!-- //product left -->
				<!-- product right -->
				<div class="col-lg-2 mt-lg-0 mt-4 p-lg-0 " >
					<div class="side-bar p-sm-4 p-3 "  style="border-radius: 18px;">
						<div class="search-hotel border-bottom py-2 ">
              <h3 class="agileits-sear-head mb-3"><i class="fas fa-filter"></i> Search Filter</h3>
							<!-- <form action="#" method="post">

							</form> -->
							<div class="left-side py-2">
								<ul>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Samsung</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Red Mi</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Apple</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Nexus</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Motorola</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Micromax</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Lenovo</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Oppo</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">Sony</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">LG</span>
									</li>
									<li>
										<input type="checkbox" class="checked">
										<span class="span">One Plus</span>
									</li>
								</ul>
							</div>
						</div>
						<!-- ram -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Ram</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Less than 512 MB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">512 MB - 1 GB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">1 GB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">2 GB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">3 GB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">5 GB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">6 GB</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">6 GB & Above</span>
								</li>
							</ul>
						</div>
						<!-- //ram -->
						<!-- price -->
						<div class="range border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Price</h3>
							<div class="w3l-range">
								<ul>
									<li>
										<a href="#">Under $1,000</a>
									</li>
									<li class="my-1">
										<a href="#">$1,000 - $5,000</a>
									</li>
									<li>
										<a href="#">$5,000 - $10,000</a>
									</li>
									<li class="my-1">
										<a href="#">$10,000 - $20,000</a>
									</li>
									<li>
										<a href="#">$20,000 $30,000</a>
									</li>
									<li class="mt-1">
										<a href="#">Over $30,000</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- //price -->
						<!-- discounts -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Discount</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">5% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">10% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">20% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">30% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">50% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">60% or More</span>
								</li>
							</ul>
						</div>
						<!-- //discounts -->
						<!-- offers -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Offers</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Exchange Offer</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">No Cost EMI</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Special Price</span>
								</li>
							</ul>
						</div>
						<!-- //offers -->
						<!-- delivery -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">Cash On Delivery</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Eligible for Cash On Delivery</span>
								</li>
							</ul>
						</div>
						<!-- //delivery -->
						<!-- arrivals -->
						<div class="left-side border-bottom py-2">
							<h3 class="agileits-sear-head mb-3">New Arrivals</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Last 30 days</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Last 90 days</span>
								</li>
							</ul>
						</div>
						<div class="left-side py-2">
							<h3 class="agileits-sear-head mb-3">Availability</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Exclude Out of Stock</span>
								</li>
							</ul>
						</div>
						<!-- //arrivals -->
					</div>
					<!-- //product right -->
				</div>
			</div>
		</div>
	<!-- //top products -->
