<!-- top-header -->
<div class="agile-main-top">
  <div class="container-fluid">
    <div class="row main-top-w3l py-2">
      <div class="col-lg-4 header-most-top">

      </div>
      <div class="col-lg-8 header-right mt-lg-0 mt-2">
        <!-- header lists -->
        <ul>
          <li class="text-center border-right text-white">
            <a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
              <i class="fas fa-map-marker mr-2"></i>Select Location</a>
          </li>
          <li class="text-center border-right text-white">
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
              <i class="fas fa-truck mr-2"></i>Track Order</a>
          </li>
          <li class="text-center border-right text-white">
            <i class="fas fa-phone mr-2"></i> 001 234 5678
          </li>
          <li class="text-center border-right text-white">
            <a class="text-white" [routerLink]="['/index/login']" routerLinkActive="router-link-active" >
              <i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
          </li>
          <li class="text-center text-white"  [routerLink]="['/index/register']" routerLinkActive="router-link-active">
            <a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
              <i class="fas fa-sign-out-alt mr-2"></i>Register </a>
          </li>
        </ul>
        <!-- //header lists -->
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal(select-location) -->
<div id="small-dialog1" class="mfp-hide">
  <div class="select-city">
    <h3>
      <i class="fas fa-map-marker"></i> Please Select Your Location</h3>
    <select class="list_of_cities">
      <optgroup label="Popular Cities">
        <option selected style="display:none;color:#eee;">Select City</option>
        <option>Birmingham</option>
        <option>Anchorage</option>
        <option>Phoenix</option>
        <option>Little Rock</option>
        <option>Los Angeles</option>
        <option>Denver</option>
        <option>Bridgeport</option>
        <option>Wilmington</option>
        <option>Jacksonville</option>
        <option>Atlanta</option>
        <option>Honolulu</option>
        <option>Boise</option>
        <option>Chicago</option>
        <option>Indianapolis</option>
      </optgroup>


    </select>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //shop locator (popup) -->


<!-- //top-header -->

<!-- header-bottom-->
<div class="header-bot">
  <div class="container">
    <div class="row header-bot_inner_wthreeinfo_header_mid">
      <!-- logo -->
      <div class="col-md-3 logo_agile">
        <h1 class="text-center">
          <a routerLink="/index/home" class="font-weight-bold font-italic">
            <img src="assets/images/logo2.png" alt=" " class="img-fluid">Webass Store
          </a>
        </h1>
      </div>
      <!-- //logo -->
      <!-- header-bot -->
      <div class="col-md-9 header mt-4 mb-md-0 mb-4">
        <div class="row">
          <!-- search -->
          <div class="col-10 agileits_search">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
            </form>
          </div>
          <!-- //search -->
          <!-- cart details -->
          <div class="col-2  text-center mt-sm-0 mt-2">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
              <button class="btn btn-info btn-outline-primary" type="submit" name="submit" routerLink="/index/cart"
                routerLinkActive="active">
                <i class="fas fa-cart-arrow-down"></i>
              </button>
            </div>
          </div>
          <!-- //cart details -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- shop locator (popup) -->
<!-- //header-bottom -->
<!-- navigation -->
<div class="navbar-inner">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="agileits-navi_search">
        <form action="#" method="post">
          <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
            <option value="">All Categories</option>
            <option value="Televisions">Televisions</option>
            <option value="Headphones">Headphones</option>
            <option value="Computers">Computers</option>
            <option value="Appliances">Appliances</option>
            <option value="Mobiles">Mobiles</option>
            <option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
            <option value="iPad & Tablets">iPad & Tablets</option>
            <option value="Cameras & Camcorders">Cameras & Camcorders</option>
            <option value="Home Audio & Theater">Home Audio & Theater</option>
          </select>
        </form>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center mr-xl-5">
          <li class="nav-item  mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link" routerLink="/index/home" routerLinkActive="active">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link" routerLink="/index/Shop" routerLinkActive="active">Shop</a>
          </li>
          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle" routerLink="/index/home" routerLinkActive="active" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electronics
            </a>
            <div class="dropdown-menu">
              <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3">Mobiles, Computers</h5>
                <div class="row">
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a routerLink="/index/home">All Mobile Phones</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">All Mobile Accessories</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Cases & Covers</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Screen Protectors</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Power Banks</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">All Certified Refurbished</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Tablets</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Wearable Devices</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Smart Home</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a routerLink="/index/home">Laptops</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Drives & Storage</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Printers & Ink</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Networking Devices</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Computer Accessories</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Game Zone</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Software</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Appliances
            </a>
            <div class="dropdown-menu">
              <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3">TV, Appliances, Electronics</h5>
                <div class="row">
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a routerLink="/index/home">Televisions</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Home Entertainment Systems</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Headphones</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Speakers</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">MP3, Media Players & Accessories</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Audio & Video Accessories</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Cameras</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">DSLR Cameras</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Camera Accessories</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6 multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <li>
                        <a routerLink="/index/home">Musical Instruments</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Gaming Consoles</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">All Electronics</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Air Conditioners</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Refrigerators</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Washing Machines</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Kitchen & Home Appliances</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">Heating & Cooling Appliances</a>
                      </li>
                      <li>
                        <a routerLink="/index/home">All Appliances</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link" routerLink="/index/home">About Us</a>
          </li>

          <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/index/home">Product 1</a>
              <a class="dropdown-item" routerLink="/index/home">Product 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="single.html">Single Product 1</a>
              <a class="dropdown-item" href="single2.html">Single Product 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="checkout.html">Checkout Page</a>
              <a class="dropdown-item" href="payment.html">Payment Page</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/index/home">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- //navigation -->

<router-outlet></router-outlet>


<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <div class="row">
      <div class="col-lg-6">
        <div class="join-agile text-left p-4">
          <div class="row">
            <div class="col-sm-7 offer-name">
              <h6>Smooth, Rich & Loud Audio</h6>
              <h4 class="mt-2 mb-3">Branded Headphones</h4>
              <p>Sale up to 25% off all in store</p>
            </div>
            <div class="col-sm-5 offerimg-w3l">
              <img src="assets/images/off1.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5">
        <div class="join-agile text-left p-4">
          <div class="row ">
            <div class="col-sm-7 offer-name">
              <h6>A Bigger Phone</h6>
              <h4 class="mt-2 mb-3">Smart Phones 5</h4>
              <p>Free shipping order over $100</p>
            </div>
            <div class="col-sm-5 offerimg-w3l">
              <img src="assets/images/off2.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- middle section -->

<!-- footer -->
<footer>
  <div class="footer-top-first">
    <div class="container py-md-5 py-sm-4 py-3">
      <!-- footer first section -->
      <h2 class="footer-top-head-w3l font-weight-bold mb-2">Electronics :</h2>
      <p class="footer-main mb-4">
        If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new HDTV, we make it
        easy to
        find exactly what you need at a price you can afford. We offer Every Day Low Prices on TVs, laptops, cell
        phones, tablets
        and iPads, video games, desktop computers, cameras and camcorders, audio, video and more.</p>
      <!-- //footer first section -->
      <!-- footer second section -->
      <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
        <div class="col-md-4 offer-footer">
          <div class="row">
            <div class="col-4 icon-fot">
              <i class="fas fa-dolly"></i>
            </div>
            <div class="col-8 text-form-footer">
              <h3>Free Shipping</h3>
              <p>on orders over $100</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 offer-footer my-md-0 my-4">
          <div class="row">
            <div class="col-4 icon-fot">
              <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="col-8 text-form-footer">
              <h3>Fast Delivery</h3>
              <p>World Wide</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 offer-footer">
          <div class="row">
            <div class="col-4 icon-fot">
              <i class="far fa-thumbs-up"></i>
            </div>
            <div class="col-8 text-form-footer">
              <h3>Big Choice</h3>
              <p>of Products</p>
            </div>
          </div>
        </div>
      </div>
      <!-- //footer second section -->
    </div>
  </div>
  <!-- footer third section -->
  <div class="w3l-middlefooter-sec">
    <div class="container py-md-5 py-sm-4 py-3">
      <div class="row footer-info w3-agileits-info">
        <!-- footer categories -->
        <div class="col-md-3 col-sm-6 footer-grids">
          <h3 class="text-white font-weight-bold mb-3">Categories</h3>
          <ul>
            <li class="mb-3">
              <a routerLink="/index/home">Mobiles </a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Computers</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">TV, Audio</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Smartphones</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Washing Machines</a>
            </li>
            <li>
              <a routerLink="/index/home">Refrigerators</a>
            </li>
          </ul>
        </div>
        <!-- //footer categories -->
        <!-- quick links -->
        <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
          <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
          <ul>
            <li class="mb-3">
              <a routerLink="/index/home">About Us</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Contact Us</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Help</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Faqs</a>
            </li>
            <li class="mb-3">
              <a routerLink="/index/home">Terms of use</a>
            </li>
            <li>
              <a routerLink="/index/home">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
          <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
          <ul>
            <li class="mb-3">
              <i class="fas fa-map-marker"></i> 123 Sebastian, USA.</li>
            <li class="mb-3">
              <i class="fas fa-mobile"></i> 333 222 3333 </li>
            <li class="mb-3">
              <i class="fas fa-phone"></i> +222 11 4444 </li>
            <li class="mb-3">
              <i class="fas fa-envelope-open"></i>
              <a href="mailto:example@mail.com"> mail 1@example.com</a>
            </li>
            <li>
              <i class="fas fa-envelope-open"></i>
              <a href="mailto:example@mail.com"> mail 2@example.com</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
          <!-- newsletter -->
          <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
          <p class="mb-3">Free Delivery on your first order!</p>
          <form action="#" method="post">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" name="email" required="">
              <input type="submit" value="Go">
            </div>
          </form>
          <!-- //newsletter -->
          <!-- social icons -->
          <div class="footer-grids  w3l-socialmk mt-3">
            <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
            <div class="social">
              <ul>
                <li>
                  <a class="icon fb" href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a class="icon tw" href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a class="icon gp" href="#">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- //social icons -->
        </div>
      </div>
      <!-- //quick links -->
    </div>
  </div>
  <!-- //footer third section -->
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right py-3">
  <div class="container">
    <p class="text-center text-white">© 2018 Electro Store. All rights reserved | Design by
      <a href="#">Webass.huynhmanhthang.@fpt.com.vn</a>
    </p>
  </div>
</div>
<!-- //copyright -->
