<div class="modal fade" id="DeleteMemmberMoDal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header no-bd">
        <h5 class="modal-title">
          <span class="fw-mediumbold">
            Delete Memmber
          </span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lg-col-1">Bạn có chắc chắn xóa thành viên này!</p>

        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>PassWord</label>
                <input id="password" type="text" class="form-control" placeholder="Vui Lòng nhập nhật khẩu...">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer no-bd">
        <button type="button" id="addRowButton" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
