<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <div class="page-header">
        <h4 class="page-title">Welcome Manager Product</h4>
        <ul class="breadcrumbs">
          <li class="nav-home">
            <a routerLink="/admin/dashboardProduct" routerLinkActive="active-link">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="fas fa-chevron-right"></i>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/managerPoduct" routerLinkActive="active-link">List Product</a>
          </li>

        </ul>
      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <h3 class="card-title">Show </h3>
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="15">15</option>
                  <option [ngValue]="100">100</option>
                </select>
                <div class="search-hero pl-2">
                  <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText"  placeholder="Search ...."> -->
                  <input class="form-control" type="text" name="keyword" [(ngModel)]="keyword"  placeholder="Search ...."/>
                </div>
                <button  class="btn btn-outline-info" (click)="search()">
                  <i class="fas fa-search"></i>
                    Search
                  </button>
                  <button class="btn btn-outline-secondary  ml-3" (click)="exportAsXLSX()">
                    <i class="fa fa-file-excel-o" style="font-size:22px;color:rgb(160, 173, 151)"></i>
                    Excel
                  </button>
                <button class="btn btn-primary btn-round ml-auto">
                  <a routerLink="/admin/addProduct" style="color: white;"><i class="fa fa-plus"></i>
                    Add Product
                  </a>
                </button>


              </div>
            </div>
            <div class="card-body">
              <!-- Modal -->
              <!-- <app-editProduct></app-editProduct> -->
              <app-previewProduct></app-previewProduct>

              <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Discount</th>
                      <th>Guarantee</th>
                      <th>Type</th>
                      <th style="width: 10%"></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>No.</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Discount</th>
                      <th>Guarantee</th>
                      <th>Type</th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr  *ngFor="let prod of products |filter:searchText ,index as i ">
                      <td>{{i}}</td>
                      <td><img src="{{prod.img}}" alt="Image" width="100" height="100"  class="zoom"></td>
                      <td class="fontz">{{prod.name}}</td>
                      <td class="fontz">${{prod.price}}</td>
                      <td class="fontz">${{prod.discout}}</td>
                      <td class="fontz">{{prod.guarantee}}</td>
                      <td class="fontz">{{prod.type}}</td>
                      <td>
                        <div class="form-button-action">
                          <a routerLink="/admin/editProduct/{{prod.id}}"     routerLinkActive="active">
                            <button type="button" class="btn btn-link btn-primary btn-lg">
                              <i class="fa fa-edit"  ngbTooltip="Update"></i>
                            </button>
                          </a>

                          <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg"
                            data-original-title="Remove" (click)="removeItem(prod.id)">
                            <i class="fa fa-times"  ngbTooltip="Remove"></i>
                          </button>
                          <button type="button" class="btn btn-link btn-primary btn-lg" data-original-title="Coppy" routerLink="/admin/coppyAddProduct/{{prod.id}}" routerLinkActive="active">
                            <i class="fa fa-copy"   ngbTooltip="Coppy"></i>
                          </button>
                          <a routerLink="/admin/previewProduct/{{prod.id}}"   routerLinkActive="active">
                            <button type="button" title="" class="btn btn-link btn-primary btn-lg" data-toggle="modal"
                              data-target="#ProductDetailModal">
                              <i class="fa fa-eye"  ngbTooltip="Detail"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination [collectionSize]="products.length" [(page)]="page" [pageSize]="pageSize">
                  </ngb-pagination>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul class="nav">

            <li class="nav-item">
              <a class="nav-link" href="#">
                Help
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright ml-auto">
          2018, made with <i class="fa fa-heart heart text-danger"></i> by <a
            routerLink="/admin/product-manager">Webass.huynhmanhthang.@fpt.com.vn</a>
        </div>
      </div>
    </footer>

  </div>

</div>
<style>
  img {
    border-radius: 20%;
  }
</style>
